{
    border:1px black solid;
}
.head{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1f2937;
    height:500px;
}
#logo{
    height:60px;
    width:auto;
}
.links a{
    text-decoration: none;
}
.hlink{
    display:flex;
    justify-content: space-around;
    margin-bottom:auto;
    text-decoration: none;
}
.links{
    display:flex;
    justify-content: space-between;
    width:250px;
    align-items: center;
    
}
a{
    color:#F9FaF8;
    font-size:18px;
    
}
.hbody{
    display:flex;
    justify-content: center;
    width: auto;
    margin-bottom: auto;
    margin-top:1px;
}
.hbody1{
    width:30em;
    margin-right:7.5em;
    
}
.hbody1 p{
    color:#e5e7eb;
    width:420px;
    font: 18px;
    margin-top:auto;
}
.hbody1 h1{
    color:#F9FaF8;
    font-size: 48px;
    margin-bottom: auto;
    margin-top:2px;
}
.hbody2{
    align-items: center;
    display:flex;
}
.hbody2 img{
    height:200px;
    width:430px;
}
.signup{
    border-radius:9px;
    padding:10px 30px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: #3882f6;
    text-decoration: none;
}
.sample{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.sample-pic{
    width:200px;
    height:200px;
    border-radius: 18px;
    border:4px #1a4ea1 solid;
}
.sample-gallery{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:80px;
}
.s1,.s2,.s3{
    display:flex;
    flex-direction: column;
    width:200px;
}
.s1{
    margin-left:400px;   
}
.s3{
    margin-right:400px;
}
.sample h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color:#1f2937;
}
.quote{
    width:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:500px;
    margin-top:100px;
    background-color: #e5e7eb;
}
.qbox{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.name{
    width: 180px;
    font-size: 25px;
    align-self: flex-end;
    font-weight: bold;
    font-style: italic;
    margin-top: auto;
    margin-bottom: 50px;
}

.quote .q{
    width:650px;
    font-size:34px;
    font-weight: lighter;
    font-style: italic;
    color:#1f2937;
    margin-inline:10px;

}
.bsignup{
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 100px auto 0 auto;
    border-radius: 5px;
}
.sign-up{
    border-radius:9px;
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: #3882f6;
    text-decoration: none;
    border:2px solid rgb(206, 225, 245);
    height:30px;
    width:80px;
    padding-left: 26px;
    padding-top: 13px;
    margin-left: 30px;
}
.bsignup h3{
    color: white;
    margin-bottom:2px;
    margin-top:30px;
}
.bquote{
    margin-bottom:30px;
    margin-top: auto;
    color:#e5e7eb;
}
footer{
    background-color: #1f2937;
    height: 60px;
    text-align: center;
    margin-top: 80px;
}
footer p{
    color: white;
    padding: 20px;
}